<div class="_background">
  <%= video_tag('cooking.mp4',poster:'background_01.svg', controls:false, autoplay:true, loop:true, autobuffer: true, muted:true) %>
</div>
<div class="_bg_overlay"></div>
<!--<div class="_background">-->
  <!--<%= image_tag('background_01.svg') %>-->
<!--</div>-->

<div class="_home_content">
  <div class="_logo">
    <%= image_tag('msosi-logo.svg', height: 100) %>
  </div>
  <div class="_search">
  
  <%= search_form_for @search, url: foods_index_path do |f| %>

       <%= f.text_field :name_cont %>
      <div class="action">
      <%= f.submit "Search" %> </div>
     <% end %>



    <!-- <form method="get" action="">
      <label><a href="#"> <%= image_tag('search-icon.svg', height: 15) %></a></label>
      <input type="text" placeholder="Restaurant Name/Food ...">
      <div class="styled-select">
        <select>
          <option>Restaurant</option>
          <option>Dish</option>
        </select>
      </div>
    </form> -->
  </div>
</div>