<h1>Add new food</h1>

<%= form_for @food, :url => foods_create_path(@food), :method => :put do |f|  %>

<p> 
	<%= f.label 'Name' %><br>
	<%= f.text_field :name %>
</p>

<p> 
	<%= f.label 'Price' %><br>
	<%= f.text_field :price %>
</p>

<p> 
	<%= f.label 'Active' %><br>
	<%= f.check_box :active %>
</p>

<p> 
	<%= f.label 'Cuisine' %><br>
	<%= f.text_field :cuisine %>
</p>

<p> 
	<%= f.label 'Description' %><br>
	<%= f.text_area :description %>
</p>

<p> 
	<%= f.submit 'Add food' %>
</p>

<% end %>
