<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Msosi Food</title>
  <%= favicon_link_tag 'favicon.png'%>
	<%= stylesheet_link_tag    'homepage', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body>
<nav>
	<div class="_logo">
    <a href="#"><%= image_tag('Msosi-Full.svg', height: 20) %></a>
  </div>
  <div class="_profile_tray">
    <div class="_profile">
      <!-- <a href="new_user_session_path"><%= image_tag('Profile-Icon.svg', height: 20) %></a> -->
      <%= link_to( image_tag('Profile-Icon.svg', height: 20), new_user_session_path ) %>
    </div>
    <div class="_tray">
      <a href="#"><%= image_tag('Tray-Icon.svg') %> Tray</a>
    </div>
  </div>
</nav>
<section>
	<%= yield %>
</section>
	
	<footer>

		<div class="_links">
      <div class="_social">
        <a href="#" ><%= image_tag('Twitter.svg', height: 20) %></a>
        <a href="#" ><%= image_tag('Facebook.svg', height: 20) %></a>
        <a href="#" ><%= image_tag('Linked In.svg', height: 20) %></a>
      </div>
      <div class="_stores">
        <a href="#" ><%= image_tag('AppStore.svg', height: 20) %></a>
        <a href="#" ><%= image_tag('GooglePlay.svg', height: 20) %></a>
      </div>
			<div class="top_links">
				<ul>
					<li><%= link_to 'CAREERS', pages_career_path %></li>
          <li><%= link_to 'HELP', pages_help_path %></li>
          <li><%= link_to 'DEVELOPER', pages_developer_path %></li>
          <li><%= link_to 'ABOUT US', pages_aboutus_path %></li>
				</ul>
			</div>

			<div class="bottom_links">
        <%= link_to 'TERMS AND CONDITIONS', pages_terms_path %>
			</div>
		</div>
	</footer>
</body>
</html>
